.navbar {
    display: flex;
    // justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, #1e3c72, #2a5298);
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffcc00;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  
    a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      padding: 8px 12px;
      border-radius: 5px;
      transition: all 0.3s;
  
      &:hover {
        color: #ffcc00;
        background: rgba(255, 255, 255, 0.2);
        transform: scale(1.1);
      }
    }
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  
    span {
      background: white;
      height: 3px;
      width: 25px;
      margin: 4px;
      transition: 0.3s;
    }
  }
  
  // Responsive Navbar for Mobile
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 60px;
      right: 0;
      background: rgba(0, 0, 0, 0.9);
      width: 100%;
      flex-direction: column;
      gap: 10px;
      text-align: center;
      padding: 20px;
      display: none;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  }


  // home page 
  .home {
    display: flex;
    flex-direction: column; // Default for mobile
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    min-height: 100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
  
    .home-image {
      order: -1; // Moves the image to the top on mobile
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid #ffcc00;
      }
    }
  
    .home-content {
      max-width: 600px;
      h1 {
        font-size: 2.5rem;
        margin-bottom: 10px;
        border-bottom: 2px solid #ffcc00;
        padding-bottom: 5px;
      }
      p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 20px;
      }
    }
  
    .btn {
      display: inline-block;
      padding: 12px 24px;
      background: #ffcc00;
      color: #1e3c72;
      font-weight: bold;
      text-decoration: none;
      border-radius: 25px;
      transition: background 0.3s;
      &:hover {
        background: #e6b800;
      }
    }
  }
  
  // Desktop view (768px and above)
  @media (min-width: 768px) {
    .home {
      flex-direction: row;
      text-align: left;
      padding: 40px 100px;
  
      .home-image {
        order: 1; // Reset order for desktop
        flex: 1;
        margin-bottom: 0;
      }
  
      .home-content {
        flex: 1;
      }
    }
  }
  

  // about page
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    min-height: 80vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
  
    .about-container {
      max-width: 800px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  
      h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 15px;
        border-bottom: 2px solid #ffcc00;
        padding-bottom: 5px;
      }
  
      p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 20px;
        max-width: 700px;
        text-align: justify;
      }
    }
  }
  
  @media (min-width: 768px) {
    .about {
      text-align: left;
      padding: 100px 50px;
    }
  }
  
  
  @media (min-width: 768px) {
    .about {
      text-align: left;
      padding: 120px 50px;
    }
  }


  // projects page
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    min-height: 80vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
  
    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 20px;
      border-bottom: 2px solid #ffcc00;
      padding-bottom: 5px;
    }
  
    .project-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 20px;
      justify-content: center;
      max-width: 1000px;
      width: 100%;
    }
  
    .project-card {
      background: rgba(255, 255, 255, 0.1);
      padding: 20px;
      border-radius: 12px;
      text-align: left;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s ease, background 0.3s;
      border-left: 5px solid #ffcc00;
      position: relative;
  
      &:hover {
        transform: translateY(-5px);
        background: rgba(255, 255, 255, 0.2);
      }
  
      h2 {
        font-size: 1.5rem;
        color: #ffcc00;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 1rem;
        color: #fff;
      }
    }
  }
  
  @media (min-width: 768px) {
    .projects {
      text-align: left;
      padding: 50px 50px;
    }
  }

  // skills page
  .skills {
    display: flex;
    padding: 60px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    min-height: 80vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
  
    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 20px;
      border-bottom: 2px solid #ffcc00;
      padding-bottom: 5px;
    }
  
    .skills-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 20px;
      max-width: 800px;
      width: 100%;
      justify-content: center;
    }
  
    .skill-card {
      background: rgba(255, 255, 255, 0.2);
      padding: 15px;
      border-radius: 8px;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      transition: transform 0.3s ease, background 0.3s;
      border-left: 5px solid #ffcc00;
      &:hover {
        transform: scale(1.1);
        background: rgba(255, 255, 255, 0.3);
        border-left: 5px solid #e6b800;
      }
    }
  }
  

  // experience page
  .experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    min-height: 80vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
  
    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 20px;
      border-bottom: 2px solid #ffcc00;
      padding-bottom: 5px;
    }
  
    .experience-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 20px;
      max-width: 900px;
      width: 100%;
      justify-content: center;
    }
  
    .experience-card {
      background: rgba(255, 255, 255, 0.1);
      padding: 8px 20px;
      border-radius: 12px;
      text-align: left;      
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s ease, background 0.3s;
      border-left: 5px solid #ffcc00;
      position: relative;
  
      &:hover {
        transform: translateY(-5px);
        background: rgba(255, 255, 255, 0.2);
        border-left: 5px solid #e6b800;
      }
  
      h2 {
        font-size: 1.5rem;
        color: #ffcc00;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 1rem;
        color: #fff;
      }
    }
  }
  
  // certification page
  .certifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    min-height: 80vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
  
    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 20px;
      border-bottom: 2px solid #ffcc00;
      padding-bottom: 5px;
    }
  
    .certifications-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      max-width: 900px;
      width: 100%;
      justify-content: center;
    }
  
    .certification-card {
      background: rgba(255, 255, 255, 0.1);
      padding: 8px 20px;
      border-radius: 12px;
      text-align: left;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s ease, background 0.3s;
      border-left: 5px solid #ffcc00;
      position: relative;

      &:hover {
        transform: translateY(-5px);
        background: rgba(255, 255, 255, 0.2);
        border-left: 5px solid #e6b800;
      }
    }
    h2 {
      font-size: 1.5rem;
      color: #ffcc00;
      margin-bottom: 10px;
    }
    p {
      font-size: 1rem;
      color: #fff;
    }
  }
  

  // achievements page
  .achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    min-height: 80vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
  
    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 20px;
      border-bottom: 2px solid #ffcc00;
      padding-bottom: 5px;
    }
  
    .achievements-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      max-width: 900px;
      width: 100%;
      justify-content: center;
    }
  
    .achievement-card {
      background: rgba(255, 255, 255, 0.1);
      padding: 8px 20px;
      border-radius: 12px;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: left;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s ease, background 0.3s;
      border-left: 5px solid #ffcc00;
      position: relative;
      overflow: hidden;
      &:hover {
        transform: scale(1.05);
        background: rgba(255, 255, 255, 0.2);
        border-left: 5px solid #e6b800;
      }
      h2 {
        font-size: 1.5rem;
        color: #ffcc00;
        margin-bottom: 10px;
      }
      p {
        font-size: 1rem;
        color: #fff;
      }
    }
      
    }
  
  
  
  // contact page
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    min-height: 80vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  
    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 20px;
      border-bottom: 2px solid #ffcc00;
      padding-bottom: 5px;
    }
  
    .contact-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      max-width: 800px;
      width: 100%;
  
      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
      }
    }
  
    .contact-info, .contact-socials {
      background: rgba(255, 255, 255, 0.1);
      padding: 20px;
      border-radius: 12px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      width: 100%;
      max-width: 350px;
      transition: transform 0.3s ease, background 0.3s;
      border-left: 5px solid #ffcc00;
      
      &:hover {
        transform: scale(1.05);
        background: rgba(255, 255, 255, 0.2);
      }
  
      h2 {
        font-size: 1.5rem;
        color: #ffcc00;
        margin-bottom: 10px;
      }
  
      p, a {
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
      }
  
      a:hover {
        text-decoration: underline;
      }
    }
  }
  
  
  @media (min-width: 768px) {
    .projects {
      text-align: left;
      padding: 120px 50px;
    }
  }
  
  